<!DOCTYPE html>
<html>
<head>
    <title></title>
	<meta charset="utf-8" />   
    <!--<link href="../Contect/OpenLayers-2.13.1/default/style.css" rel="stylesheet" />-->
    <link href="../Contect/Map2D/style.css" rel="stylesheet" />
    <script src="../Scripts/OpenLayers-2.13.1/OpenLayers.debug.js"></script>
    <script src="../Scripts/Ext-3.4.1/adapter/ext/ext-base-debug.js"></script>
    <!--<script src="../Scripts/Ext-3.4.1/ext-all.js"></script>-->
    <script src="../Scripts/Ext-3.4.1/ext-all-debug.js"></script>
    <script src="../Scripts/GeoExt-1.1/GeoExtMinifu.js"></script>
    <script src="../Scripts/Map2D/SampleMap.js"></script>
</head>
<body>
    <div id="map" class="smallmap"></div>
</body>
</html>
